* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.row:after {
	clear: both;
	content: '';
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.container {
    margin: 20px auto;
}

.row {
    margin-bottom: 20px;
}

[class*="col-"] {
	min-height: 40px;
    background-color: #eee;
    border: 1px solid #999;
}

[class*="col-"] [class*="col-"] {
	margin-top: 5px;
	background-color: #ccc;
	border: 1px solid #555;
}

@media(min-width: 768px) {
	.container {
	    width: 750px;
	}

	[class*="col-md"] {
	    float: left;
	    margin-left: 2.66666667%;
	}

	.col-md-1 {
		width: 5.66666667%;
	}

	.col-md-2 {
		width: 14%;
	}

	.col-md-3 {
		width: 22.33333333%;
	}

	.col-md-4 {
		width: 30.66666667%;
	}

	.col-md-5 {
		width: 39%;
	}

	.col-md-6 {
		width: 47.33333333%;
	}

	.col-md-7 {
		width: 55.66666667%;;
	}

	.col-md-8 {
		width: 64%;;
	}

	.col-md-9 {
		width: 72.33333333%;;
	}

	.col-md-10 {
		width: 80.66666667%;;
	}

	.col-md-11 {
		width: 89%;;
	}

	.col-md-12 {
		width: 97.33333333%;;
	}
}

@media(max-width: 768px) {
	.container {
	    width: 480px;
	}

	[class*="col-sm"] {
	    float: left;
	    margin-bottom: 5px;
	    margin-left: 4.16666667%;
	}

	.col-sm-1 {
		width: 4.16666667%;
	}

	.col-sm-2 {
		width: 12.5%;
	}

	.col-sm-3 {
		width: 20.83333333%;
	}

	.col-sm-4 {
		width: 29.16666667%;
	}

	.col-sm-5 {
		width: 37.5%;
	}

	.col-sm-6 {
		width: 45.83333333%;
	}

	.col-sm-7 {
		width: 54.16666667%;;
	}

	.col-sm-8 {
		width: 62.5%;;
	}

	.col-sm-9 {
		width: 70.83333333%;;
	}

	.col-sm-10 {
		width: 79.16666667%;;
	}

	.col-sm-11 {
		width: 87.5%;;
	}

	.col-sm-12 {
		width: 95.83333333%;;
	}
}
