* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	
	background-color: #91d6d9;
	color: #fff;
}

header a {
	color: #fff;
}

header a span {
	font-size: 2rem;
}
